<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-12">
            <h3 class="box-center">Recibo número {{ idPedido }}</h3>
            <div class="box-msg">
                <p>Olá, <strong>Alex {{ dadosRecibo }}</strong>!</p>
                <p>O seu pedido foi efetivado com sucesso!
                    Agradecemos sua compra e a preferência por nossos produtos.</p>

                <strong>Seus dados:</strong>
                <p>Endereço: </p>
                <p>Produtos:</p>
                <p>Observações: Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur vel quo, dolores
                    laborum</p>
            </div>
        </div>
    </div>
</div>