<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
	<div class="contact-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 ">
					<h3 class="main-title">Contato</h3>
				</div>				
				<div class="col-md-3 contact-box">
					<i class="fab fa-whatsapp"></i>
					<p>(16) 9876-54321</p>
				</div>
				<div class="col-md-3 contact-box">
					<i class="fab fa-google"></i>
					<p>xxx@gmail.com</p>
				</div>
				<div class="col-md-3 contact-box ">
					<!--<i class="fas fa-map-marker-alt"></i>-->
					<i class="fab fa-facebook-f"></i>
					<p>Facebook</p>
				</div>
				<div class="col-md-3 contact-box ">
					<i class="fab fa-instagram"></i>
					<p>Instagram</p>
				</div>

				<!--
				<div class="col md-6" id="msg-box">
					<p>Nos deixe uma mensagem</p>
				</div>				
				<div class="col md-6" id="contact-form">
					<form action="">
						<input type="email" class="form-control" placeholder="e-mail" name="email">
						<input type="text" class="form-control" placeholder="Assunto" name="subject">
						<textarea class="form-control" rows="3" placeholder="Escreva" name="message"></textarea>
						<input type="submit" class="main-btn" value="Enviar">
					</form>
				</div>-->
			</div>
		</div>
	</div>
	<div id="copy-area">
		<div class="container" id="_fluid">
			<div id="row">
				<div class="col md-12">
					<p>Desenvolvido por: <a href="https://github.com/aledguedes/">Alexandre Guedes</a> &copy; 2021</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer -->