#_container{
    box-shadow: 0 10px 30px rgba(15, 15, 15, 0.2);
    border-radius: 15px;
    padding: 30px 0;
}

#btnFinalizar{
    text-align: right;
    padding: 10px;
}

#txtCarrinho{
    padding: 2em;
    text-shadow: 0.1em 0.1em 0.2em #725EF2;
}
img{
    width: 60%;
}
#imgSize{
    padding: 0 20px;
}
#idRow{
    padding: 5px 0;
}
#subTotal{
    text-align: right;
    padding: 10px 0;
}
#txtCarrinho{
    padding: 10px 0;
    text-shadow: aquamarine;
    color: #725EF2;
}

